* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.header {
  width: 100%;
}
.nav-up-left {
  float: left;
  margin: 20px;
}
.nav-up-right {
  float: right;
  margin-top: 10px;
}
.nav-up-right img {
  display: inline;
}

header nav a {
  text-decoration: none;
  color: gray;
}
